body {
  padding-top: 40px;
}

table {
  margin: auto;
}

button {
  background-color: #8a2be2;
  border: 1px solid white;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  width: 100px;
  height: 100px;
}

button:hover {
  background-color: #5b1ebd;
  transition: 0.2s;
}

.numBtn {
  background-color: #904aed;
}

.numBtn:hover {
  background-color: #753ecf;
}

button:active {
  background-color: #a26ceb;
}

.numBtn:active {
  background-color: #a26ceb;
}

button:disabled {
  background-color: grey;
}

#output {
  margin: auto;
  padding-top: 18px;
  text-align: center;
  width: 410px;
  height: 70px;
  font-size: 48px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #8839ee;
  color: white;
  border: 1px solid white;
}

#errorOut {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: red;
}

div {
  margin: auto;
  padding: 8px;
  width: 417px;
  height: 610px;
  border: 1px solid white;
  background-color: rgb(208, 172, 241);
}
